{
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.jsonc",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}